<!-- <!doctype html>
<html lang="en">
    <head>
   
    </head>
    <body> -->

<div class="audio-player">
  <button class="play" (click)="clickplaypause()">
    <i class="ion-play"></i>
  </button>
  <div class="imgplay"><img src="../assets/layout/Rectangle 87@2x.png" /></div>
  <!-- <div class="name">
                <p>Maranam Anaswara jeevitham - Introduction</p>
            </div> -->

  <div class="name">
    <p>Maranam Anaswara jeevitham - Introduction</p>
    <div class="controls">
      <span class="current-time">{{ audio.currentTime | timer }}</span>
      <div class="seek-bar">
        <div class="fill"></div>
        <div class="handle"></div>
      </div>
      <span class="total-time">{{ audio.duration | timer }}</span>
    </div>
  </div>
</div>

<!-- <script src="music-player.js"></script> -->
<!-- </body>
</html> -->
